
//Colors
$color-orange : #D2691E;
$color-orange-hover : #E07856;
$color-yellow : #FFD700;

$color-gris : #2D3748;
$color-black : #1A1F29;
$color-gris-clair : #E6E8EB;


$color-success: #38d56c;
$color-warning: #f5d000;
$color-error: #dc2626;
$color-info: #4facfe;


// Font families
$font-primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
$font-logo: 'Vast Shadow', cursive;

// Breakpoint
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

//Container
$container-max-width: 1280px;
$container-padding: 1rem;
$container-narrow: 720px;

